{% extends 'FirstLevel/home_base.html' %}
{% load static %}
{% block body_block %}
{% if DEPARTMENT == 'OTR' %}
{{OTR}}
<form method="post", action="{% url 'basic_app:FULLERTON_OTR_BILLING' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Billing</button>
</form>
{{FR}}
<form method="post", action="{% url 'basic_app:FULLERTON_FR_BILLING' %}", enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Billing</button>
</form>
<hr>
{% else %}
<form method="post", enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Billing</button>
</form>
<hr>
<br>
{% endif %}
<p3 style="color:white;">BILLING {{PROCESS}}-{{DEPARTMENT}}</p3>
<table>
    <tr style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px">
    {% for col in columns %}
        <th style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px" >{{col}}</th>
    {% endfor %}
    </tr>
    {% for row in Billing %}
        <tr style="background-color:white;border:2px solid black;">
        {% for j in row %}
            <td style="background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none; border-right:none; width:100px; height:17px">{{j}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<br>
<p3 style="color:white;">{{com}}{{Total_Payout12}}</p3>
<p3 style="color:white;">{{com2}}{{Total_Payout}}</p3>
<br>
{% if DEPARTMENT == 'HL' %}
    {% if PROCESS == 'IDFC' %}
        <a href="{% url 'basic_app:IDFC_HL_BILLING_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'L&T' %}
        <a href="{% url 'basic_app:L_T_BILLING_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'IDFC' %}
        <a href="{% url 'basic_app:IDFC_TW_BILLING_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'OTR' %}
    {% if PROCESS == 'FULLERTON' %}
        <a href="{% url 'basic_app:FULLERTON_OTR_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'RECOVERY' %}
    {% if PROCESS == 'FULLERTON' %}
        <a href="{% url 'basic_app:FULLERTON_RECOVERY_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'CD' %}
    {% if PROCESS == 'BAJAJ' %}
        <a href="{% url 'basic_app:BAJAJ_CD_BILLING_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}
{% endblock %}
