{% extends 'FirstLevel/home_base.html' %}
{% load static %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="{% static 'FirstLevel/css/home.css'%}">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <H1 style="margin-bottom:0px">Welcome {{name}},</H1>
  <HR color= #d3ae6d style="margin-bottom:0px;">
  <div class="box" style="display:inline-block;">
  <iframe style="height=512; align=left;" ></iframe>
  </div>
  <div class="box" style="display:inline-block;">
  <iframe src="salary.html" style="height=512; align=left; width:100">
  </iframe>
    </div>
</body>
</html>
{% endblock %}