{% extends 'FirstLevel/home_base.html' %}
{% load static %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="{% static 'FirstLevel/css/home.css'%}">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <H1 style="margin-bottom:0px">Welcome {{name}},</H1>
  <HR color= #d3ae6d style="margin-bottom:0px;">
   <iframe style="width:180px;height:650px;border:2px solid #d3ae6d">
  </iframe>
  <iframe src = 'salary.html' name="AB" style="margin-left:0px;max-width:1435px;width:100%;height:650px;;position:absolute;border-right:0px;border:2px solid #d3ae6d">
  </iframe>
</body>
</html>
{% endblock %}