{% extends 'FirstLevel/home_base.html' %}
{% load static %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="{% static 'FirstLevel/css/home.css'%}">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <H1 style="margin-bottom:0px">Welcome {{name}},</H1>
  <HR color= #d3ae6d style="margin-bottom:0px;">
  <iframe>
  </iframe>

  <iframe src="salary.html" style="margin-left:0px;max-width:1250px;width:100%;border-right:0px;position:absolute;">

  </iframe>
</body>
</html>
{% endblock %}